@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    background-color: #282c34;
}

main {
    width: 100%;
    max-width: 1680px;
    box-sizing: border-box;
    padding: 0 120px;
    margin: 0 auto;
    min-height: 100vh;
    color: white;
}

h1 {
    font-size: 48px;
}
